<div style="background-color: rgb(246, 49, 49); display: flex;">
<ul>
    <li><a style="color: cornsilk;text-decoration: none;" href="/">Home</a></li>
    <li><a style="color: cornsilk; text-decoration: none;" href="/services">services</a></li>
    <li><a style="color: rgb(243, 196, 7); text-decoration: none;" href="/Contact">Contact us </a></li>
</ul>
</div>